In [1]:
import pandas as pd

# 读取.csv文件
df = pd.read_csv('sorted_filename.csv',encoding='gbk')

df.columns.tolist()

['航班号',
 '航班日期',
 '批次时间（batch_date）',
 '实际销售额（sale_volume）',
 '航线',
 '客座率',
 '实际座公里收入',
 '舱位容量',
 '订座数',
 '行距',
 '客运公里',
 '座位公里',
 '机型',
 '起飞时间',
 '到达时间',
 '客公里收入',
 '销售日期',
 'J舱订座数',
 'W舱订座数',
 'Y舱订座数',
 '燃油附加费']

In [2]:
# 删除多列
columns_to_drop = ['航线',
                   '行距',
                   '客运公里',
                   '座位公里',
                   '机型',
                   '起飞时间',
                   '到达时间',
                   '销售日期',
                   'J舱订座数',
                   'W舱订座数',
                   'Y舱订座数',
                   '燃油附加费']
df = df.drop(columns_to_drop, axis=1)
df

,航班号,航班日期,批次时间（batch_date）,实际销售额（sale_volume）,客座率,实际座公里收入,舱位容量,订座数,客公里收入
0,KN5599,2023/3/31,2023/4/1,0.00,0.03,0.00,143,5,0.00
1,KN5737,2023/1/3,2022/9/16,0.00,0.00,0.00,292,0,0.00
2,KN5737,2023/1/3,2022/9/17,0.00,0.00,0.00,292,0,0.00
3,KN5737,2023/1/3,2022/9/18,0.00,0.00,0.00,292,0,0.00
4,KN5737,2023/1/3,2022/9/19,0.00,0.00,0.00,292,0,0.00
...,...,...,...,...,...,...,...,...,...
352783,KN5978,2023/12/31,2023/12/23,26501.55,0.42,0.12,185,78,0.29
352784,KN5978,2023/12/31,2023/12/23,42031.55,0.65,0.19,185,120,0.30
352785,KN5978,2023/12/31,2023/12/23,39171.55,0.61,0.18,185,113,0.29
352786,KN5978,2023/12/31,2023/12/23,23531.55,0.37,0.11,185,69,0.29
352787,KN5978,2023/12/31,2024/1/2,46634.08,0.72,0.21,185,133,0.30

In [3]:
#保留信息最完整的批次行，删除其他多余行
# 创建一个空的列表，用于存储符合要求的行的索引
rows_to_keep = []

# 遍历数据中的每一行
for index, row in df.iterrows():
    if index < len(df) - 1:  # 检查是否为最后一行
        if ((row['航班号'] != df.iloc[index+1]['航班号']) or (row['航班日期'] != df.iloc[index+1]['航班日期'])):
            # 如果当前行与下一行的航班号或航班日期不相同，则将当前行的索引添加到列表中
            rows_to_keep.append(index)
    else:
        # 最后一行的索引添加到列表中
        rows_to_keep.append(index)

# 通过索引筛选出符合要求的行，构建新的 DataFrame
result_df = df.loc[rows_to_keep].reset_index(drop=True)

# 输出处理后的数据
print(result_df)

         航班号        航班日期 批次时间（batch_date）  实际销售额（sale_volume）   客座率  实际座公里收入  \
0     KN5599   2023/3/31         2023/4/1                0.00  0.03     0.00
1     KN5737    2023/1/3         2023/1/5            36865.00  0.76     0.17
2     KN5737    2023/1/4         2023/1/6            45720.00  0.81     0.21
3     KN5737    2023/1/5         2023/1/7            52285.00  0.90     0.24
4     KN5737    2023/1/6         2023/1/8            33412.50  0.64     0.15
...      ...         ...              ...                 ...   ...      ...
2421  KN5978  2023/12/27       2023/12/29            67152.85  0.83     0.31
2422  KN5978  2023/12/28       2023/12/30            79985.64  0.97     0.37
2423  KN5978  2023/12/29       2023/12/31            97683.40  1.00     0.45
2424  KN5978  2023/12/30       2023/12/20            82689.23  0.75     0.38
2425  KN5978  2023/12/31         2024/1/2            46634.08  0.72     0.21

      舱位容量  订座数  客公里收入
0      143    5   0.00
1      185  141   0.22
2      185  149   0.26
3      185  167   0.27
4      185  118   0.24
...    ...  ...    ...
2421   185  154   0.37
2422   185  180   0.38
2423   185  185   0.45
2424   185  139   0.50
2425   185  133   0.30

[2426 rows x 9 columns]

In [4]:
result_df = result_df.drop(['批次时间（batch_date）'], axis=1)

In [6]:
result_df.to_csv('airlineSales.csv', index=False,encoding='gbk')